.newAnime .newAnimedescription {
	display: block;
	max-width: 16rem;
	height: 10rem;
	overflow: hidden;
}

.newAnime .title {
    font-weight: 700;
    font-size: larger;
    max-width: 16rem;
}

.newAnime .title hr {
    width: 5rem;
		border: none;
		border-top: 2px solid #464646;
		color: #FFFFFF;
		background-color: #FFFFFF;
		height: 2px;
}
