body{
  background-color: #fff;
  background-image: url('images/bg.jpg');
  background-repeat:repeat-x;
}
#globalmenu{
  list-style-type : none;
}
#globalmenu li{
  display:inline;
}
#container{
  text-align:left;
}
#content{
  background-color:#fff;
  padding:1%;
}
#localmenu{
  float:left;
}
img{
  border:0;
}